.container{
    width: 600px;
    height: 450px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}

.navigation{
    width: 600px;
    height: 45px;
    background-color: rgb(39, 83, 83);
    position: relative;
}

.nav-block1{
    width: 100px;
    height: 15px;
    background-color: aqua;
    border-radius: 3px;
    position: absolute;
    top: 15px;
    left: 20px;
}

.nav-block2{
    width: 55px;
    height: 15px;
    background-color: grey;
    border-radius: 3px;
    position: absolute;
    top: 15px;
    left: 140px;
}

.nav-block3{
    width: 55px;
    height: 15px;
    background-color: grey;
    border-radius: 3px;
    position: absolute;
    top: 15px;
    left: 210px;
}

.nav-block4{
    width: 55px;
    height: 15px;
    background-color: grey;
    border-radius: 3px;
    position: absolute;
    top: 15px;
    right: 230px;
}

.nav-block5{
    width: 55px;
    height: 15px;
    background-color: grey;
    border-radius: 3px;
    position: absolute;
    top: 15px;
    right: 160px;
}

.nav-block6{
    width: 55px;
    height: 15px;
    background-color: grey;
    border-radius: 3px;
    position: absolute;
    top: 15px;
    right: 90px;
}

.nav-block7{
    width: 55px;
    height: 15px;
    background-color: grey;
    border-radius: 3px;
    position: absolute;
    top: 15px;
    right: 20px;
}

/* Main Upper part */
.main-container1{
    width: 600px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container1-block1{
    width: 130px;
    height: 10px;
    background-color: grey;
    border-radius: 3px;
    margin: 5px;
}

.main-container1-block2{
    width: 160px;
    height: 10px;
    background-color: lightgray;
    border-radius: 3px;
    margin: 5px;
}

/* Using another flex to get the lower boxes in line */
.main-container-verticle{
    display: flex;
    flex-direction: row;
}

.main-container1-block3{
    width: 60px;
    height: 25px;
    background-color: rgb(105, 94, 252);
    border-radius: 3px;
    margin: 5px;
}

.main-container1-block4{
    width: 60px;
    height: 25px;
    background-color: rgb(17, 0, 253);
    border-radius: 3px;
    margin: 5px;
}

/* Main lower part part */
.main-container2{
    width: 600px;
    height: 200px;   
    position: relative;
}

.main-container2-block1{
    width: 200px;
    height: 10px;
    background-color: lightgray;
    border-radius: 3px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.main-container2-block2{
    width: 260px;
    height: 10px;
    background-color: lightgray;
    border-radius: 3px;
    position: absolute;
    left: 20px;
    top: 40px;
}

.main-container2-block3{
    width: 305px;
    height: 10px;
    background-color: lightgray;
    border-radius: 3px;
    position: absolute;
    left: 20px;
    top: 60px;
}

.main-container2-block4{
    width: 200px;
    height: 100px;
    background-color: grey;
    border-radius: 3px;
    position: absolute;
    right: 20px;
}

/* Footer */
.footer{
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
}

.footer-block{
    width: 100px;
    height: 50px;
    margin: 5px;
}

.footer-block-top{
    width: 50px;
    height: 15px;
    background-color: grey;
    border-radius: 3px;
    margin: 5px;
    margin-left: 25px;
}

.footer-block-bottom{
    width: 70px;
    height: 15px;
    background-color: lightgray;
    border-radius: 3px;
    margin: 5px;
    margin-left: 15px;
}