.background{
    width: 600px;
    height: 900px;
    background-color: grey;
    position: relative;
}

.container{
    width: 500px;
    height: 850px;
    background-color: aliceblue;
    position: absolute;
    left: 50px;
    bottom: 0px;
}

.background-image{
    width: 500px;
    height: 150px;
    background-image: url("download.webp");
    background-attachment: fixed;
    position: absolute;
}

.info-card{
    width: 400px;
    height: 250px;
    background-color: lightgrey;
    position: absolute;
    top: 40px;
    left: 50px;
}

.info-card-inner{
    width: 400px;
    height: 150px;
    background-color: rgb(62, 199, 57);
    position: absolute;
}

img{
    width: 200px;
    height: 150px;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 53% 100%);
    position: absolute;
    right: 0px;
}

.name{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 5px;
}

.info-icons{
    color: white;
    position: absolute;
    left: 20px;
    top: 30px;
    font-size: smaller;
}

.info-icons-inline{
    position: absolute;
    bottom: 5px;
    left: 20px;
}

.info-icons-inline > i{
    border-radius: 100%;
    padding: 6px;
    font-size: smaller;
}

.facebook{
    background-color: blue;
}

.instagram{
    background-color: rgb(252, 7, 48);
}

.twitter{
    background-color: lightblue
}

.linkedin{
    background-color: blue;
}

.google{
    background-color: rgb(184, 1, 1);
}

.info-text{
    width: 330;
    text-align: center;
    position: absolute;
    bottom: 30px;
}

.boxes{
    width: 400px;
    position: absolute;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes > div{
    width: 100px;
    height: 20px;
    margin: 5px;
    background-color: rgb(62, 199, 57);
}

/* Section 2 */

.section2{
    width: 400px;
    height: 550px;
    position: absolute;
    left: 50px;
    top: 300px;

}

.section2-head{
    width: 15px;
    height: 15px;
    background-color: rgb(70, 151, 70);
    position: absolute;
    left: 140px;
    top: 20px;
}

.section2-h4{
    margin-top: 22px;
    margin-left: 20px;
    text-align: center;
}

/* reuseable */

.heading6{
    margin: 10px;
}

.para{
    width: 100px;
    height: 80px;
    margin-left: 10px;
}


.section2-div1{
    width: 170px;
    height: 120px;
    background-color: rgb(224, 227, 228);
    position: absolute;
}

.section2-div1-part1{
    width: 5px;
    height: 120px;
    background-color: rgb(75, 160, 189);
    position: absolute;
}

.section2-div2{
    width: 170px;
    height: 120px;
    background-color: rgb(224, 227, 228);
    position: absolute;
    margin-top: 140px;
}

.section2-div2-part1{
    width: 5px;
    height: 120px;
    background-color: rgb(75, 160, 189);
    position: absolute;
}

.section2-div3{
    width: 170px;
    height: 120px;
    background-color: rgb(224, 227, 228);
    position: absolute;
    margin-top: 280px;
}

.section2-div3-part1{
    width: 5px;
    height: 120px;
    background-color: rgb(75, 160, 189);
    position: absolute;
}

.section2-div4{
    width: 170px;
    height: 120px;
    background-color: rgb(224, 227, 228);
    position: absolute;
    margin-left: 220px;
    margin-top: 80px;
}

.section2-div4-part1{
    width: 5px;
    height: 120px;
    background-color: rgb(75, 160, 189);
    position: absolute;
}

.section2-div5{
    width: 170px;
    height: 120px;
    background-color: rgb(224, 227, 228);
    position: absolute;
    margin-top: 220px;
    margin-left: 220px;
}

.section2-div5-part1{
    width: 5px;
    height: 120px;
    background-color: rgb(75, 160, 189);
    position: absolute;
}

.section2-div6{
    width: 170px;
    height: 120px;
    background-color: rgb(224, 227, 228);
    position: absolute;
    margin-top: 360px;
    margin-left: 220px;
}

.section2-div6-part1{
    width: 5px;
    height: 120px;
    background-color: rgb(75, 160, 189);
    position: absolute;
}

.line{
    width: 1px;
    height: 400px;
    background-color: rgb(119, 158, 230);
    position: absolute;
    margin-left: 195px;
}

.part-a{
    width: 20px;
    height: 20px;
    background-color: rgb(70, 151, 70);
    position: absolute;
    border-radius: 50%;
    margin-left: 185px;
    text-align: center;
    line-height: 20px;
}

.hr-a{
    width: 12px;
    margin-left: 170px;
    margin-top: 9px;
    position: absolute;
}

.part-b{
    width: 20px;
    height: 20px;
    background-color: rgb(70, 151, 70);
    position: absolute;
    border-radius: 50%;
    margin-left: 185px;
    text-align: center;
    line-height: 20px;
    margin-top: 70px;
}

.hr-b{
    width: 12px;
    margin-left: 205px;
    margin-top: 9px;
    position: absolute;
    margin-top: 80px;
}

.part-c{
    width: 20px;
    height: 20px;
    background-color: rgb(70, 151, 70);
    position: absolute;
    border-radius: 50%;
    margin-left: 185px;
    text-align: center;
    line-height: 20px;
    margin-top: 130px;
}

.hr-c{
    width: 12px;
    margin-left: 170px;
    margin-top: 9px;
    position: absolute;
    margin-top: 140px;
}

.part-d{
    width: 20px;
    height: 20px;
    background-color: rgb(70, 151, 70);
    position: absolute;
    border-radius: 50%;
    margin-left: 185px;
    text-align: center;
    line-height: 20px;
    margin-top: 210px;
}

.hr-d{
    width: 12px;
    margin-left: 205px;
    margin-top: 9px;
    position: absolute;
    margin-top: 220px;
}

.part-e{
    width: 20px;
    height: 20px;
    background-color: rgb(70, 151, 70);
    position: absolute;
    border-radius: 50%;
    margin-left: 185px;
    text-align: center;
    line-height: 20px;
    margin-top: 270px;
}

.hr-e{
    width: 12px;
    margin-left: 170px;
    margin-top: 9px;
    position: absolute;
    margin-top: 280px;
}

.part-f{
    width: 20px;
    height: 20px;
    background-color: rgb(70, 151, 70);
    position: absolute;
    border-radius: 50%;
    margin-left: 185px;
    text-align: center;
    line-height: 25px;
    margin-top: 350px;
}

.hr-f{
    width: 12px;
    margin-left: 205px;
    margin-top: 9px;
    position: absolute;
    margin-top: 360px;
}
